*{
  margin: 0;
  padding:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background : linear-gradient(130deg,#7d1d5a,#420951) ;
    padding: 10px;

}
.todo-app{
    width:100%;
    max-width:500px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 15px;
}
.todo-app h2{
    color:black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline:none;
    padding:16px 50px;
    background: #ff5945;
    color:rgb(166, 182, 196);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 17px 25px 17px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;

}
ul li::before{
    content: ' ';
    position: absolute;
    height:25px;
    width:25px;
    border-radius: 50%;
    background-image: url(images/uncheck.png.png);
    background-size: cover;
    background-position: center;
    top:17px;
    left:8px;
    
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png.png);

}
ul li span{
    position: absolute;
    right:2px;
    top:5px;
    width:35px;
    height: 35px;
    font-size:22px;
    color:#555;
    line-height:40px;
    text-align:centre;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}    